<mat-form-field class="full-width" style="padding:10px;">
    <mat-label>Name</mat-label>
    <input  matInput  placeholder="First name"  formControlName="name"  required>
</mat-form-field>
<mat-form-field class="full-width">
    <mat-label>User Name</mat-label>
    <input  matInput  placeholder="User name" formControlName="userName"  required>
</mat-form-field>
<mat-form-field class="full-width">
    <mat-label>Contact Number</mat-label>
    <input  matInput  placeholder="Contact Number" formControlName="contactNumber"  required>
</mat-form-field>
<mat-form-field class="full-width">
    <mat-label>Email</mat-label>
    <input  matInput  placeholder="Email" formControlName="email" required>
</mat-form-field>
<mat-form-field class="full-width">
    <mat-label>Password</mat-label>
    <input  matInput  placeholder="Password"  formControlName="password" required>
</mat-form-field>